<div id="content">
  <table class="table" summary="Profile Details">
    <caption>PROFILE DETAILS</caption>
    <tbody class="tbody">
    <tr class="tr">
      <th class="th">Profile ID</th>
      <td class="td">{$prof.profile_id}</td>
    </tr>
    <tr class="tr odd">
      <th class="th">Profile</th>
      <td class="td">{$prof.profile}</td>
    </tr>
    <tr class="tr">
      <th class="th">Description</th>
      <td class="td">{$prof.remarks}</td>
    </tr>
    </tbody>
  </table>
</div>