	<div id="content"> 
		{if isset($sessionUsername) }
 		<div id="secLinks" > 
			<b style="float:left "> Client No. </b>
			<b style="float:right ">
    		|<a style="color:#FFFFFF "href="#"> breadcrumb </a>|<a style="color:#FFFFFF" href="#"> breadcrumb </a>|<a style="color:#FFFFFF" href="#"> breadcrumb </a>
			</b>
  		</div> 
  		{/if}
  		<div class="feature"> 
    		<h3>Feature Title </h3> 
    		<p> 
    			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie.
    			Sed aliquam sem ut arcu. Phasellus sollicitudin. Vestibulum condimentum facilisis
    			nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.
    			Cras venenatis. Aliquam posuere lobortis pede. Nullam fringilla urna id leo.
    			Praesent aliquet pretium erat. Praesent non odio. Pellentesque a magna a
    			mauris vulputate lacinia. Aenean viverra. Class aptent taciti sociosqu ad
    			litora torquent per conubia nostra, per inceptos hymenaeos. Aliquam lacus.
    			Mauris magna eros, semper a, tempor et, rutrum et, tortor.
    		</p> 
  		</div> 
  		<div class="story"> 
    		<h3>Story Title</h3> 
    		<p> 
    			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie.
    			Sed aliquam sem ut arcu. Phasellus sollicitudin. Vestibulum condimentum facilisis
    			nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.
    			Cras venenatis. Aliquam posuere lobortis pede. Nullam fringilla urna id leo.
    			Praesent aliquet pretium erat. Praesent non odio. Pellentesque a magna a
    			mauris vulputate lacinia. Aenean viverra. Class aptent taciti sociosqu ad
    			litora torquent per conubia nostra, per inceptos hymenaeos. Aliquam lacus.
    			Mauris magna eros, semper a, tempor et, rutrum et, tortor.
    		</p> 
   
  		</div> 
  		<div class="story"> 
    		<h3>Story Title</h3> 
    		<p class="style1"> 
    			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie.
    			Sed aliquam sem ut arcu. Phasellus sollicitudin. Vestibulum condimentum facilisis
    			nulla. In hac habitasse platea dictumst. Nulla nonummy. Cras quis libero.
    			Cras venenatis. Aliquam posuere lobortis pede. Nullam fringilla urna id leo.
    			Praesent aliquet pretium erat. Praesent non odio. Pellentesque a magna a
    			mauris vulputate lacinia. Aenean viverra. Class aptent taciti sociosqu ad
    			litora torquent per conubia nostra, per inceptos hymenaeos. Aliquam lacus.
    			Mauris magna eros, semper a, tempor et, rutrum et, tortor.
    		</p> 

  		</div> 
	</div> 