{php}
ob_start();
{/php}

<style type="text/css">
{literal}
<!--
.table  {
	background: #fff;
	color:#000;
	text-align:left;
	border-spacing: 1px;
}
.table a, .table, .tbody, .tfoot, .tr, .th, .td {
	font-family: georgia, "times new roman", serif;
}
.table {
	border:1px solid #000;
	padding: 1px;
}
.table a {
	text-decoration: none;
	background: inherit;
	font-weight: bold;
}
.table a:link {
	text-decoration: none;
}
.table a:visited {
	background: inherit;
	color: #66c;
	text-decoration: none;
}
.table a:hover {
	background: inherit;
	position: relative;
	text-decoration: none;
}
.table caption {
	border-top:1px solid #000;
	border-left:1px solid #000;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
	text-align: center;
	padding: 3px;
	color: inherit;
	background: #fff;
	font-family: georgia, "times new roman", serif;
	font-size:12pt;
	font-weight:bold;
}
.td, .th {
	margin:0px;
	padding:3px;
	border-left:1px solid #000;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
}
.td, .th {
	border-top:1px solid #000;
	border-left:1px solid #000;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
}
.tr.odd {
	color: inherit;
	background: #fff;
}
-->
{/literal}
</style>

{$content}



