
<div id="navBar"> 
  {if isset($sessionUsername) }
  <ul id="modNav">
  {*<li><a href="./index.php?path=./main/addr/addr.mng_addr.php"> ADDRESSES </a></li>*}
  <li><a href="./index.php?path=./main/cats/main.mng_categories.php"> CATEGORIES </a></li>
  {*<li><a href="./index.php?path=./main/cs/cs.mng_cs.php"> CASE STUDIES </a></li>*}
  <li><a href="./index.php?path=./main/faqs/faqs.mng_faqs.php"> FAQs </a></li>
  <li><a href="./index.php?path=./main/news/tm0.news.mng_news.php"> NEWS </a></li>
  {*<li><a href="./index.php?path=./main/proj/perf.mng_projs.php"> PROJECTS </a></li>*}
  <li><a href="./index.php?path=./main/pubs/pubs.mng_pubs.php"> PUBLICATIONS </a></li>
  {* <li><a href="./index.php?path=./main/user/user.mng_users.php"> SYSTEM USERS </a></li> *}
  {* <li><a href="./index.php?path=./main/staff/staff.mng_staff.php"> STAFF </a></li> *}
   <li><a href="./index.php?path=./main/user/user.admin_panel.php"> ADMIN PANEL </a></li>
  <li><a href="./index.php?path=./display/logout.php"> Sign Out </a></li>
  </ul>
  {/if}
</div>