<div id="content">
  <table width="100%" class="table" summary="User Profile">
    <caption> USER PROFILE </caption>
    <tbody class="tbody">
    <tr class="tr odd">
      <th class="th">Registered On</th>
      <td class="td">{$user.reg_date}</td>
    </tr>
    <tr class="tr">
      <th class="th">First Name</th>
      <td class="td">{$user.firstname}</td>
    </tr>
    <tr class="tr odd">
      <th class="th">Last Name</th>
      <td class="td">{$user.lastname}</td>
    </tr>
    <tr class="tr odd">
      <th class="th">Username</th>
      <td class="td">{$user.username}</td>
    </tr>
    <tr class="tr">
      <th class="th">Account Status</th>
      <td class="td">{$user.account_status}</td>
    </tr>
    </tbody>
  </table>
</div>