<div id="content">
  <div class="story">
    <h3> Manage Security </h3><br>
    <label> Manage Profiles </label>
    <p>
      <a href="./index.php?path=./main/security/tm0.security.show_profile.php"> Show All </a>
      |<a href="./index.php?path=./main/security/tm0.security.create_profile.php"> Create </a>
      |<a href="./index.php?path=./main/security/tm0.security.chg_profile.php"> Change Profile </a>
      |<a href="./index.php?path=./main/security/tm0.security.del_profile.php"> Delete </a>
      |<a href="./index.php?path=./main/security/tm0.security.objects_profile.php"> Show Objects </a>
    </p>
    <label> Manage User Profiles </label>
    <p>
      <a href="./index.php?path=./main/security/tm0.security.user_profile.php"> Show All </a>
      |<a href="./index.php?path=./main/security/tm0.security.add_user.php"> Add User to a Profile </a>
      |<a href="./index.php?path=./main/security/tm0.security.remove_user.php"> Remove User from a Profile </a>
    </p>
    <label> Manage Objects </label>
    <p>
      <a href="./index.php?path=./main/security/tm0.security.assign_object.php"> Assign Object to a Profile </a>
      |<a href="./index.php?path=./main/security/tm0.security.remove_object.php"> Remove Object from Profile </a>
    </p>

    <h3> Manage User Accounts </h3>
    <p>
      <a href="./index.php?path=./main/user/user.reg_user.php"> Register </a>
      |<a href="./index.php?path=./main/user/user.reset_password.php"> Reset Password </a>
      |<a href="./index.php?path=./main/user/user.activate_account.php"> Activate </a>
      |<a href="./index.php?path=./main/user/user.deactivate_account.php"> Deactivate </a>
      |<a href="./index.php?path=./main/user/user.search_user.php"> Search For User </a>
    </p>

  </div>
</div>