<div id="content">
  <table width="100%" class="table" summary="My Profile">
    <caption>MY PROFILE</caption>
    <tbody class="tbody">
      <tr class="tr">
        <th class="th" colspan="2"> PERSONAL INFORMATION </th>
      </tr>
      <tr class="tr odd">
        <th class="th">Registered On</th>
        <td class="td">{$usr.reg_date}</td>
      </tr>
      <tr class="tr">
        <th class="th">Firstname</th>
        <td class="td">{$usr.firstname}</td>
      </tr>
      <tr class="tr odd">
        <th class="th">Lastname</th>
        <td class="td">{$usr.lastname}</td>
      </tr>
      <tr class="tr">
        <th class="th">Username</th>
        <td class="td">{$usr.username}</td>
      </tr>
    </tbody>
  </table>
</div>
