<div id="content"> 
  {if isset($sessionUsername) }
  <div id="secLinks" >
    <b style="float:right ">
      <a style="color:#FFFFFF "href="">  </a>
    </b>
  </div>
  <br />
  {/if}
  <div class="story">
    <h3> Manage Categories </h3>
    <p>
      <a href="./index.php?path=./main/cats/main.reg_category.php"> Register Category </a><br>
      <a href="./index.php?path=./main/cats/main.show_categories.php"> Show All Categories </a><br>
      <a href="./index.php?path=./main/cats/main.chg_category.php"> Change Category Name </a><br>
      <a href="./index.php?path=./main/cats/main.del_category.php"> Delete Category </a><br>
    </p>
  </div>
</div> 