<div id="content">
  {if !isset($msg) }
  <div class="msgBox">
    <label> You have decided to delete Information regarding the selected News Article</label>
    <p>
      To proceed, click: <a href="./index.php?path=./main/news/tm0.news.del_news.php&news_no={$news_no}&username={$username}&delete=confirmed"><b style="color:red"> DELETE </b></a><br>
      Else: <a href="javascript:window.history.back()"> CANCEL </a><br>
    </p>
  </div>
  {else}
  <div class="msgBox">
    <label class="msg"> {$msg} </label>
    <p>
      <a href="./index.php?path=./main/news/tm0.news.reg_news.php">Register another Article</a><br>
      <a href="./index.php?path=./main/news/tm0.news.show_news.php">Show All Articles</a>
    </p>
  </div>
  {/if}
</div>